/* Styled Components are used for styling as requested */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000000;
  color: #ffffff;
  overflow-x: hidden;
  font-family: "adrip";
}

* {
  box-sizing: inherit;
}


@font-face {
  font-family: 'adrip';
  src: url('./assets/fonts/adrip1.ttf') format('truetype');

}
